{% if data.style == '' %}
<textarea class="{{data.type}}" id="q{{data.questionno}}" name="q{{data.questionno}}">{{data.useranswer|raw}}</textarea>
{% else %}
<textarea class="{{data.type}}" id="q{{data.questionno}}" name="q{{data.questionno}}" style="{{data.style}}">{{data.useranswer|raw}}</textarea>
{% endif %}
<script>
    CKEDITOR.replace("q{{data.questionno}}");
</script>